# TCP port number used """
PORT                = 10321
# queue size of the server socket """
CONNECTION_QUEUE    = 256
# maximum number of parallel transfers from/to file servers """
MAX_COPY_SERVER     = 15
# maximum number of parallel transfers from/to nodes """
MAX_COPY_NODE       = 1
# database persistence file """
DB_FILE             = "/export/pxe/ubuntu_16.04/usr_local/cachemanager/cmserver.cluster.db"
# interval between database writes (seconds) """
DB_SAVE_INTERVAL    = 60 * 60
# interval between statistics writes (seconds) """
STAT_INTERVAL       = 60 * 60
# interval between database cleanups (seconds) """
CLEANUP_INTERVAL    = 60 * 60 * 24
# timeout for client sockets (seconds) """
SOCKET_TIMEOUT      = 30 * 60
# maximum time a client may spend copying (seconds) """
MAX_WAIT_COPY       = 15 * 60
# time a client has to wait before next copy attempt (seconds) """
CLIENT_WAIT         = 10
# time after a record in the database is deleted (seconds) """
MAX_AGE             = 60 * 60 * 24 * 14

